@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
  color: white;
  background: linear-gradient(180deg, #BC0000 0%, #720000 100%);
  font-family: 'Roboto', sans-serif;
}

html {
  height:100vh;
}

#themap {
  /* border: solid 2px rgb(189, 0, 0);
  border-radius: 2px; */
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.38);
  margin-bottom: 1em;
}

.graycard {
  padding: 1em 1em;
  margin: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: #E5E5E5;
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.38);
  border-radius: 4px;
  color:black;
  
  max-height: 100vh;
}
.tripsContainer {
  padding: 1em 1em;

  display: flex;
  flex-direction: column;
  max-height: 55vh;
  overflow: scroll;
  margin-bottom: 10px;
}
/* .logo {
  width: 200px;
  height: 200px;
} */
.forgotPassword {
  color: blue;
  text-align: center;
  margin-left: 125px;
}

.buttonContainer {
  margin: 5px;
  min-width: 200px;
}

.tripText {
  font-size: 30px;
  margin: 5px;
}

.space {
  /* padding-bottom: 10px;
  margin-bottom: 10px; */
  width: 100%;
  margin-bottom: 10px;
}

#welcomeblack {
  color:black;
}

#welcomered {
  color:red;
}